<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> predict </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Zeroth value : <input type="text", name='a', placeholder="enter 0"> <br><br>
            First value :  <input type="text", name='b', placeholder="enter 1"> <br><br>
            Second value :  <input type="text", name='c', placeholder="enter 2"> <br><br>
            Third value :  <input type="text", name='d', placeholder="enter 3"> <br><br>
            Fourth value :  <input type="text", name='e', placeholder="enter 1"> <br><br>
            Fifth value :  <input type="text", name='f', placeholder="enter 2"> <br><br>
            Sixth value :  <input type="text", name='g', placeholder="enter 3"> <br><br>
            Seventh value :  <input type="text", name='h', placeholder="enter 1"> <br><br>
            Eighth value :  <input type="text", name='i', placeholder="enter 2"> <br><br>
            Ninth value :  <input type="text", name='j', placeholder="enter 3"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='img3.jpg' alt="house">
        
    </center>

    </body>
</html>

